@model IEnumerable<ProvaCandidato.Data.Entidade.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Cadastrar novo cliente", "Create")
</p>

<form asp-controller="Clientes" asp-action="Index">
    <p>
        Nome: <input type="text" name="pesquisarNome" />
        <input type="submit" value="Pesquisar" />
    </p>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            Data de Nascimento
        </th>
        <th>
            Cidade
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DataNascimento)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cidade.Nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ativo)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.Codigo }) |
        @Html.ActionLink("Detalhes", "Details", new { id = item.Codigo }) |
        @Html.ActionLink("Excluir", "Delete", new { id = item.Codigo })
    </td>
</tr>
}

</table>
